        {%extends 'base/base.html' %}
        {% block content %}
          <form action="" method="POST">
            {% csrf_token %}
            <input class="form-control mx-auto w-50" type="text" name="city" id="city" placeholder="Enter city Name ....">
            <input type="submit" class="btn btn-success btn-lg my-3 text-center" value="Submit">

          </form>
        </div>
      </div>
      {% if results %}

      <table class="table w-50 mx-auto">
        <thead>
          <tr>
            <th colspan="2" class="text-center h3 mb-5">Wether of {{ results.name}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Area</th>
            <td>{{ results.name}} ({{ results.lon}}, {{ results.lat}})</td>
          </tr>

          <tr>
            <th scope="row">Temperature</th>
            <td>{{ results.temp}} °C</td>
          </tr>
          <tr>
            <th scope="row">Humidity</th>
            <td>{{ results.humidity}} %</td>
          </tr>
        </tbody>
      </table>
    {% endif %}
        {% endblock %}

